@model WebPage8.Models.Computer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerSection {
    @Html.Partial("_LayoutHeader")
}

<h1>Details</h1>
<div>
    <h4>Computer</h4>
    <div class="row" style="margin:50px">
        <table border="1" width="80%" height="320px" cellpadding="15">
            <tr>
                <th>Item</th>
                <th>Parameter</th>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Price)</td>
                <td>@Html.DisplayFor(model => model.Price)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Processor)</td>
                <td>@Html.DisplayFor(model => model.Processor)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.RAM)</td>
                <td>@Html.DisplayFor(model => model.RAM)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.HardDisk)</td>
                <td> @Html.DisplayFor(model => model.HardDisk)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.SystemType)</td>
                <td>@Html.DisplayFor(model => model.SystemType)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ScreenSize)</td>
                <td> @Html.DisplayFor(model => model.ScreenSize)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.ImageUrl)</td>
                <td> @Html.DisplayFor(model => model.ImageUrl)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Category)</td>
                <td>@Html.DisplayFor(model => model.Category.CategoryId)</td>
            </tr>
            
        </table>
                  
                 
    </div>
</div>
<div  style="margin:60px">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.ComputerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
