@model WebPage8.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerSection {
    @Html.Partial("_LayoutHeader")

}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <div class="row" style="margin:50px">
        <table border="1" width="80%" height="320px" cellpadding="15">
            <tr>
                <th>Item</th>
                <th>Parameter</th>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.FirstName)</td>
                <td>@Html.DisplayFor(model => model.FirstName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LastName)</td>
                <td>@Html.DisplayFor(model => model.LastName)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
                <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.Email)</td>
                <td>@Html.DisplayFor(model => model.Email)</td>
            </tr>
            <tr>
                <td> @Html.DisplayNameFor(model => model.PostalCode)</td>
                <td> @Html.DisplayFor(model => model.PostalCode)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Street)</td>
                <td>@Html.DisplayFor(model => model.Street)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.City)</td>
                <td> @Html.DisplayFor(model => model.City)</td>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.Country)</td>
                <td> @Html.DisplayFor(model => model.Country)</td>
            </tr>

        </table>
    </div>
  </div>
<div style="margin:60px">
    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
