@model ComputerViewModel

@{
    ViewBag.Title = "Computer Web Shop | Brand Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <div class="seller-leftbox text-center">
                <b>2000Kr </b> <input id="ex2" type="text" class="span2" value="" data-slider-min="2000" data-slider-max="13000" data-slider-step="500" data-slider-value="[2500,4500]" /> <b>13000Kr</b>
            </div>
            <div class="seller-leftbox text-center">
            </div>
        </div>

        <div class="col-md-8 col-sm-8">
            <div class="col-md-12 col-sm-6" style="padding-bottom: 10px;"> <img src="@Url.Content("~/images/sam-small.png")" class="img-responsive"> </div>
            <div class="row product-container">
                @foreach (Computer computer in Model.Computers)
                {
                    <div class="col-lg-6 col-sm-8" style="cursor:pointer;">
                        <div class="hpanel">
                            <div class="panel-body no-padding poluritm">
                                <div class="entry-thumbnailsmall">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-ComputerId="@computer.ComputerId">
                                        <img src="@computer.ImageUrl" class="img-responsive">
                                        </a>
</div>
                                <div class="p-sm productdetail">
                                    <h4>@computer.Name</h4>
                                    <p>@computer.Price</p>
                                </div> 
                                <a asp-controller="Product" asp-action="Detail" asp-route-ComputerId="@computer.ComputerId">
                                    <button type="button" class="btn btn-success btn-sm pull-right">Köp</button>
                                </a>
                                    </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $("#ex2").slider({});
    });
</script>
