@model ComputerViewModel
@{
    ViewBag.Title = "Computer Web Shop | Brand Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="container">
        <div class="col-md-8 col-sm-8">
            <div class="container">
                <div class="hpanel forum-box">
                    <div class="col-md-12 col-sm-6" style="padding-bottom: 10px;"> <img src="@Url.Content("~/images/sam-small.png")" class="img-responsive"> </div>
                    <div class="col-md-4 col-sm-6">
                        <img src="@Model.Computer.ImageUrl" )" class="img-responsive">
                        <div class="row p-lg" style="padding-left: 0px !important;">
                            <div class="col-md-7">
                                <button type="button" class="btn btn-success btn-lg btn-block">Lägg i kundvagn</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="seller-leftbox">
                            <div class="m-b-md">
                                <h3 class="font-bold">Specifikationer</h3>
                                <small></small>
                            </div>
                            <div class="lsit ">
                                <div class="well well-sm">
                                    <p>Name: @Model.Computer.Name</p>
                                    <p>Lagringskapacitet: @Model.Computer.HardDisk</p>
                                    <p>Skärmstorlek: @Model.Computer.ScreenSize </p>
                                    <p>Processortyp : @Model.Computer.Processor</p>
                                    <p>Installerat RAM : @Model.Computer.RAM</p>
                                    <p>Operativsystem: @Model.Computer.SystemType</p>
                                    <p>Pris : @Model.Computer.Price</p>
                                </div>
                                <div>
                                    <p class="button"></p>
                                    <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-computerId="@Model.Computer.ComputerId">
                                        Lägg i kundvarg
                                    </a>                                    
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div class="col-md-8 col-sm-6" style="padding-top: 10px;">
                        @*<div class="col-lg-12">*@
                        <div class="hpanel plan-box active">
                            <div class="panel-heading hbuilt">
                                <h5 class="font-bold no-margins">Recensions</h5>
                            </div>
                            <div class="well well-sm">
                                @foreach (var review in @Model.Computer.Reviews)
                                {
                                    <p>@review.Text</p>
                                }
                            </div>
                            @*</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    $(document).ready(function () {
        $("#ex2").slider({});
    });
</script>