@model CategoryViewModel
@{
    int count = 0;
}

<div class="col-lg-12" @*style="margin-top:10px!important"*@>
    <form asp-controller="Home" asp-action="Index" asp-route-search="@Model.Search">
        <div class="d-flex justify-content-between">
            <div class="input-group panel-body no-padding">
                <input asp-for="Search" class=" form-control " type="text" placeholder="">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary2 btn-lg p-sm" value="Sök" />
                </span>

            </div>
        </div>
    </form>
</div>

<div class="col-lg-12">
    <div class="container no-padding" style="width:86%!important">
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
                <li data-target="#carousel" data-slide-to="3"></li>
                <li data-target="#carousel" data-slide-to="4"></li>
                <li data-target="#carousel" data-slide-to="5"></li>

            </ol>


            <!-- Carousel items -->
            <div class="carousel-inner" role="listbox">
                @foreach (Category item in Model.Categories)
                    {
                        string bimg=item.Name + ".jpg";

                        if (count == 0)
                        {
                <text>
                    <div class="item active">
                        <div class="view">
                            <img src="@Url.Content("~/images/slider/")@bimg" />
                        </div>
                        <div class="carousel-caption" style="cursor:pointer;">
                            <h4 class="h4-responsive" style="color:white"> @item.Name </h4>
                            <a asp-controller="Product" asp-action="BrandItems" asp-route-name="@item.Name"> <p class="h4-responsive" style="color:white!important">Click to see more...</p></a>
                        </div>
                    </div>
                </text>
                        }
                        else
                        {

                <text>
                    <div class="item">
                        <div class="view">
                            <img src="@Url.Content("~/images/slider/")@bimg" />
                        </div>

                        <div class="carousel-caption" style="cursor:pointer; position:absolute!important">
                            <h4 class="h4-responsive" style="color:white"> @item.Name</h4>
                            <a asp-controller="Product" asp-action="BrandItems" asp-route-name="@item.Name"> <p  class="h4-responsive" style="color:white!important">Click to see more...</p></a>
                        </div>
                    </div>
                </text>
                        }



                        count = count + 1;

                    }

                <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>


            </div>

        </div>
    </div>
</div>





