@model CategoryViewModel

@{
    ViewBag.Title = "Computer Web Shop | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headerSection {
    @Html.Partial("_LayoutHeader")
}

@Html.Partial("_Search")

<section class="pt-lg-5">
    <div class="container sectionspc">
        <div class="hpanel forum-box">
            <div class="row product-container">
                @foreach (Category category in Model.Categories)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="hpanel">
                            <div class="panel-body no-padding">
                                <div class="entry-thumbnail">
                                    <a asp-controller="Product" asp-action="BrandItems" asp-route-name="@category.Name">
                                        <img src="@category.BrandUrl" class="img-responsive" alt="">
                                    </a>
                                </div>
                                <div class="p-sm productdetail">
                                    <h3>@category.Name</h3>
                                    <p>@category.Description </p>
                                    <div class="btn btn-sm pull-right">
                                        <a asp-controller="Product" asp-action="BrandItems" asp-route-name="@category.Name">
                                            <button type="button" class="btn btn-success btn-sm ">Se mer</button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>





