@model WebPage8.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headerSection {
    @Html.Partial("_LayoutHeader")

}

<h1>Details of the user</h1>

<div style="margin: 100px">
    <table border="1" width="80%" height="320px" cellpadding="15">
        <tr>
            <th>Item</th>
            <th>Parameter</th>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.PhoneNumber)</td>
            <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td> @Html.DisplayNameFor(model => model.PasswordHash)</td>
            <td> @Html.DisplayFor(model => model.PasswordHash)</td>
        </tr>
        <tr>
            @*<td>@Html.DisplayNameFor(model => model.UserRole)</td>
            <td>@Html.DisplayFor(model => model.UserRole)</td>*@
        </tr>
    </table>

        <div style="margin: 100px">
            <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
</div>
